services:
  app:
    build: .
    container_name: laravel_back
    restart: always
    env_file: .env
    volumes:
      - ./:/var/www
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./:/var/www
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    command: >
      sh -c "composer install --no-interaction &&
             php artisan config:clear &&
             php artisan migrate --force &&
             php artisan serve --host=0.0.0.0 --port=8000"